@import "../../global.scss";

.portfolioList{
  color: $black;
  font-size: 20px;
  margin-right: 5em;
  padding: 7px;
  border-radius: 10em;
  cursor: pointer;
  &.active{
    background-color: $grey-3;
    color: $blue;
  }
}