@import "../../global.scss";

.portfolioList{
  color: $blue;
  font-style: 16px;
  margin-right: 5em;
  padding: 7px;
  border-radius: 10em;
  cursor: pointer;
  &.active{
    background-color: $grey-3;
  }
}