@import "../../global.scss";

.contact{
  background-color: $white;
  display: flex;
  .left{
    flex: 1;
    overflow: hidden;
    img{ 
      height: 100%;
      float: left;
      &:hover{
        filter: grayscale(100%)
      }
    }
  }
  .right{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    h2{
      font-size: 35px;
    }
    form{
      width: 66%;
      height: 66%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      input{
        width: 300px;
        height: 30px;
        font-size: 20;
      }
      textarea{
        width: 300px;
        height: 100px;
        font-size: 20;
      }
    }
  }
}