@import "../../global.scss";

.intro{
  background-color: $mainColor;
  display: flex;
  overflow: hidden;
  .left{
    flex: .5;
    .imgContainer{
      width: 300px;
      height: 300px;
      background-color: grey;
      border-radius: 50%;
      display: flex;
      align-items: flex-end;
      justify-content: center;
      float: right;
    }
  }
  .right{
    flex: .5;
  }
}