.app{
  width: 100vh;
  .section{
    width: 100%;
    height: calc(100vh - 70px);
    background-color: chartreuse;
    position: relative;
    top: 70px;
    scroll-snap-type: y mandatory;
    scrollbar-width: none; //firefox
    &::-webkit-scrollbar {
      display: none;
    }
    // for each 
    > *{
      width: 100%;
      height: calc(100vh - 70px);
      scroll-snap-align: start;
    }
  }
}